In [1]:
# Import necessary libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Optional: Set plot style
sns.set(style="whitegrid")

# Load datasets
tariffs = pd.read_csv("data/tariff_data.csv")
prices = pd.read_csv("data/Prices_E_All_Data_NOFLAG.csv")
inflation = pd.read_csv("data/inflation.csv")
deflation = pd.read_csv("data/deflation.csv")
gdp = pd.read_csv("data/gdppcap.csv")
indices = pd.read_csv("data/FAOSTAT_data_en_4-12-2025.csv")  # NEW CSV

# Preview datasets
print("Tariffs:")
display(tariffs.head())

print("\nPrices:")
display(prices.head())

print("\nInflation:")
display(inflation.head())

print("\nDeflation:")
display(deflation.head())

print("\nGDP per capita:")
display(gdp.head())

print("\nFood Price Indices (FAO):")
display(indices.head())
print("\nColumns in Food Price Indices CSV:")
print(indices.columns)

# Optional: Check for missing values in each dataset
print("\nMissing values in each dataset:")
for name, df in zip(["Tariffs", "Prices", "Inflation", "Deflation", "GDP", "Indices"],
                    [tariffs, prices, inflation, deflation, gdp, indices]):
    print(f"{name}: {df.isnull().sum().sum()} missing values")

Tariffs:

,Entity,Code,Year,"Tariff rate, applied, weighted mean, all products (%)"
0,Afghanistan,AFG,2004,4.01
1,Afghanistan,AFG,2006,7.79
2,Afghanistan,AFG,2007,7.80
3,Afghanistan,AFG,2008,5.00
4,Afghanistan,AFG,2012,5.47

Prices:

,Area Code,Area Code (M49),Area,Item Code,Item Code (CPC),Item,Element Code,Element,Months Code,Months,...,Y2015,Y2016,Y2017,Y2018,Y2019,Y2020,Y2021,Y2022,Y2023,Y2024
0,2,'004,Afghanistan,221,'01371,"Almonds, in shell",5530,Producer Price (LCU/tonne),7021,Annual value,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,'004,Afghanistan,221,'01371,"Almonds, in shell",5531,Producer Price (SLC/tonne),7021,Annual value,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,'004,Afghanistan,221,'01371,"Almonds, in shell",5539,Producer Price Index (2014-2016 = 100),7021,Annual value,...,101.22,93.36,89.57,85.02,85.74,86.56,86.76,87.06,87.39,87.72
3,2,'004,Afghanistan,711,'01654,"Anise, badian, coriander, cumin, caraway, fenn...",5539,Producer Price Index (2014-2016 = 100),7021,Annual value,...,101.22,93.36,89.57,85.02,79.84,73.46,67.33,61.08,56.49,51.09
4,2,'004,Afghanistan,515,'01341,Apples,5530,Producer Price (LCU/tonne),7021,Annual value,...,NaN,31400.00,35700.00,22331.40,NaN,NaN,NaN,NaN,NaN,NaN

Inflation:

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Aruba,ABW,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,0.421441,0.474764,-0.931196,-1.028282,3.626041,4.257462,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,5.370290,5.245878,6.571396,6.399343,4.720805,4.653665,5.405162,7.240978,10.773751,7.126975
2,Afghanistan,AFG,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,4.673996,-0.661709,4.383892,4.975952,0.626149,2.302373,NaN,NaN,NaN,NaN
3,Africa Western and Central,AFW,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,1.768436,2.130817,1.487416,1.725486,1.784050,1.983092,2.490378,3.745700,7.949251,4.953050
4,Angola,AGO,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,7.280387,9.355972,30.694415,29.844480,19.628938,17.080954,22.271539,25.754295,21.355290,13.644102

Deflation:

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Aruba,ABW,GDP deflator (base year varies by country),NY.GDP.DEFL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,103.958897,111.060628,109.946912,106.452616,110.138037,116.765942,115.654945,109.973252,113.445414,121.056990
1,Africa Eastern and Southern,AFE,GDP deflator (base year varies by country),NY.GDP.DEFL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,GDP deflator (base year varies by country),NY.GDP.DEFL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,92.566839,94.832470,92.748502,94.977857,96.945179,103.267440,110.457896,113.593791,124.278695,127.959400
3,Africa Western and Central,AFW,GDP deflator (base year varies by country),NY.GDP.DEFL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,AGO,GDP deflator (base year varies by country),NY.GDP.DEFL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,890.354809,859.028696,1046.075628,1282.640547,1643.923107,1959.342696,2170.228813,3012.792411,3425.864147,4029.485573

GDP per capita:

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Aruba,ABW,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,26129.839060,27458.225330,27441.529660,28440.051960,30082.127640,31096.205070,22855.932320,27200.061080,30559.533530,33984.790620
1,Africa Eastern and Southern,AFE,GDP per capita (current US$),NY.GDP.PCAP.CD,186.132432,186.947182,197.408105,225.447007,209.005786,226.883067,...,1656.107642,1479.564123,1329.777824,1520.171298,1538.924188,1493.780445,1344.080962,1522.590088,1628.024526,1659.515290
2,Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,625.054942,565.569730,522.082216,525.469771,491.337221,496.602504,510.787063,356.496214,357.261153,415.707417
3,Africa Western and Central,AFW,GDP per capita (current US$),NY.GDP.PCAP.CD,121.938353,127.452629,133.825452,139.006714,148.547736,155.563837,...,2204.995700,1845.767804,1616.843198,1560.162999,1703.896392,1783.654365,1664.249176,1747.840549,1777.235012,1568.724310
4,Angola,AGO,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,5005.999741,3213.902611,1807.952941,2437.259712,2538.591391,2189.855714,1449.922867,1925.874661,2929.694455,2308.159767

Food Price Indices (FAO):

,Domain Code,Domain,Area Code (M49),Area,Year Code,Year,Item Code,Item,Months Code,Months,Element Code,Element,Unit,Value,Flag,Flag Description,Note
0,CP,Consumer Price Indices,4,Afghanistan,2000,2000,23013,"Consumer Prices, Food Indices (2015 = 100)",7001,January,6125,Value,NaN,24.356332,I,Imputed value,base year is 2015
1,CP,Consumer Price Indices,4,Afghanistan,2000,2000,23013,"Consumer Prices, Food Indices (2015 = 100)",7002,February,6125,Value,NaN,23.636242,I,Imputed value,base year is 2015
2,CP,Consumer Price Indices,4,Afghanistan,2000,2000,23013,"Consumer Prices, Food Indices (2015 = 100)",7003,March,6125,Value,NaN,23.485345,I,Imputed value,base year is 2015
3,CP,Consumer Price Indices,4,Afghanistan,2000,2000,23013,"Consumer Prices, Food Indices (2015 = 100)",7004,April,6125,Value,NaN,24.767194,I,Imputed value,base year is 2015
4,CP,Consumer Price Indices,4,Afghanistan,2000,2000,23013,"Consumer Prices, Food Indices (2015 = 100)",7005,May,6125,Value,NaN,25.956912,I,Imputed value,base year is 2015

Columns in Food Price Indices CSV:
Index(['Domain Code', 'Domain', 'Area Code (M49)', 'Area', 'Year Code', 'Year',
       'Item Code', 'Item', 'Months Code', 'Months', 'Element Code', 'Element',
       'Unit', 'Value', 'Flag', 'Flag Description', 'Note'],
      dtype='object')

Missing values in each dataset:
Tariffs: 0 missing values
Prices: 1910792 missing values
Inflation: 5985 missing values
Deflation: 5852 missing values
GDP: 2712 missing values
Indices: 177091 missing values

In [2]:
# Check shapes
print("Shapes of datasets:")
for name, df in zip(["Tariffs", "Prices", "Inflation", "Deflation", "GDP", "Indices"],
                    [tariffs, prices, inflation, deflation, gdp, indices]):
    print(f"{name}: {df.shape}")

# Optional: Inspect year ranges and country names
print("\nYears in each dataset (if applicable):")
print("Tariffs years:", [col for col in tariffs.columns if col.isdigit()])
print("GDP years:", [col for col in gdp.columns if col.isdigit()])
print("Inflation years:", [col for col in inflation.columns if col.isdigit()])
print("Deflation years:", [col for col in deflation.columns if col.isdigit()])
print("Indices years:", indices['Year'].unique() if 'Year' in indices.columns else "No 'Year' column")

Shapes of datasets:
Tariffs: (3767, 4)
Prices: (92921, 45)
Inflation: (266, 68)
Deflation: (266, 68)
GDP: (266, 68)
Indices: (177091, 17)

Years in each dataset (if applicable):
Tariffs years: []
GDP years: ['1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023']
Inflation years: ['1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023']
Deflation years: ['1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023']
Indices years: [2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013
 2014 2015 2016 2017 2018 2019 2020 2021 2022 2023 2024]

In [4]:
tariffs_long = tariffs.melt(id_vars=['Entity', 'Code'], var_name='Year', value_name='Tariff Rate')
tariffs_long['Year'] = tariffs_long['Year'].astype(int)  # Convert Year to integer

ValueError: invalid literal for int() with base 10: 'Year'

In [5]:
# Check unique values in the Year column to see if there's anything odd
print(tariffs['Year'].unique())
print(gdp['Year'].unique())
print(inflation['Year'].unique())
print(deflation['Year'].unique())
print(indices['Year'].unique())

[2004 2006 2007 2008 2012 2013 2018 1997 2000 2001 2002 2003 2005 2009
 2010 2011 2014 2015 2016 2017 2019 2020 2021 2022 1993 1998 1996 1999
 1992 1995 1991 1990 1989 1994 1988]

KeyError: 'Year'

In [6]:
# Transpose the inflation, deflation, and GDP datasets so that years become rows
inflation_transposed = inflation.T
inflation_transposed.columns = ['Inflation']
inflation_transposed.reset_index(inplace=True)
inflation_transposed.rename(columns={'index': 'Year'}, inplace=True)

deflation_transposed = deflation.T
deflation_transposed.columns = ['Deflation']
deflation_transposed.reset_index(inplace=True)
deflation_transposed.rename(columns={'index': 'Year'}, inplace=True)

gdp_transposed = gdp.T
gdp_transposed.columns = ['GDP']
gdp_transposed.reset_index(inplace=True)
gdp_transposed.rename(columns={'index': 'Year'}, inplace=True)

# Clean up price-e-noflag column names and extract the year
prices.columns = [col[1:] if col.startswith('Y') else col for col in prices.columns]  # Remove 'Y' from column names

# Now we have all datasets in a form where 'Year' is a column

ValueError: Length mismatch: Expected axis has 266 elements, new values have 1 elements